extends ../layouts/default

block content
	.container: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
		article
			p: a(href='/ideas') &larr; back to all ideas
			hr
			if !data.idea
				h2 Invalid Post.
			else
			-console.log(10000001)
			-console.log(data.idea)
				header
					h1= data.idea.title
					h5 Posted 
						if data.idea.publishedDate
							| on #{data.idea._.publishedDate.format('MMMM Do, YYYY')} 
						if data.idea.tags && data.idea.tags.length
							| in 
							each tag, tag_i in data.idea.tags
								a(href='/idea/' + tag.key)= tag.name
								if tag_i < data.idea.tags.length - 1
									| , 
								else
									|  
						if data.idea.author
							| by #{data.idea.author.name.first} #{data.idea.author.name.last}
				.idea
					if data.idea.image.exists
						.image-wrap: img(src=data.idea._.image.fit(750,450)).img-responsive
					h5: strong Description
					!= data.idea.content.description
					h5: strong Does your idea have funding?
					!= data.idea.content.fundingStatus
					h5: strong What problem are you trying to solve?
					!= data.idea.content.problem
					h5: strong How might this idea solve it?
					!= data.idea.content.howSolve
					h5: strong Who would benefit from this idea? Who are your stakeholders?
					!= data.idea.content.stakeholders
					h5: strong What are some potential barriers to addressing the problem or opportunity?
					!= data.idea.content.barriers
					hr
					if !data.idea.comments.length > 0
						h5 No comments yet!
					else
						h5: strong These are the comments:
						-console.log(data.idea.comments)
						//- != data.idea.comments
						
						each comment, comment_i in data.idea.comments
							hr
							!= `by ${comment.author.name.first} ${comment.author.name.last}`
							!= comment.message
